* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

main{
    margin-top: 95px;
    margin-bottom: 80px;
    background-color: #f3f3f3;
}

header, footer {
    height: 80px;
    width: 100%;    
    color: FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; 
    background-color: #FFFFFF;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

footer button {
    font-size: 30px;
}

footer button:hover {
    opacity: 0.5;
}

input {
    width: 80vw;
    height: 35px;
    border: none;
}

.mensagem {
    border-radius: 2px;
    padding: 10px;
    z-index: 0;
    margin-bottom: 3px;
}

.mensagemParaTodos {
    background-color: #FFFFFF;
}

.mensagemPrivada {
    background: #FFDEDE;
}

.status {
    background: #DCDCDC; 
}

span {
    color: #AAAAAA;
}

.escondido {
    display: none;
}

.telaEntrada {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.telaEntrada img {
    width: 130px;
    height: 92px;
    margin-bottom: 100px;
}

.telaEntrada button {
    margin-top: 30px;
}

button {
    width: 109px;
    height: 45px;
    background: #E7E7E7;
    border-radius: 9px;
    border: none;
}

.telaEntrada input {
    width: 261px;
    height: 54px;


    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    box-sizing: border-box;
    border-radius: 4px;
}

.principal button {
    background-color: #FFFFFF;
}